


  <div class="header-area bg-dark" id="headerArea">
    <div class="container">
      <!-- Paste your Header Content from here-->
      <!-- # Header Five Layout-->
      <!-- # Copy the code from here ...-->
      <!-- Header Content-->
      <div
        class="header-content header-style-three position-relative d-flex align-items-center justify-content-between">
        <!-- Navbar Toggler-->
        <div class="navbar--toggler" id="settingTriggerBtn">
          <div class="span-wrap"><a class="setting-trigger-btn" id="settingTriggerBtn" href="#"></a><span
              class="d-block"></span><span class="d-block"></span><span class="d-block"></span>
          </div>
        </div>
        <!-- Logo Wrapper-->
        <div class="logo-wrapper mt-2"><a href="/">
            <h4>
              <font color="white">Mishab</font>
            </h4>
          </a></div>
        <!-- User Profile-->
        <div class="shadow user-profile-wrapper"><a class="shadow user-profile-trigger-btn" href="pdf/MishabResume2022.pdf"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-download"
              viewBox="0 0 16 16">
              <path
                d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
              <path
                d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z" />
            </svg></a></div>
      </div>
      <!-- # Header Three Layout End-->
    </div>
  </div>
  <!-- Hero Block Wrapper-->
  <div class="hero-block-wrapper bg-dark">
    <!-- Styles--><br><br>
    <div class="hero-block-styles mt-3"><br>
      <div class="hb-styles1" style="background-image: url('images/core-img/dot.png')"></div>
      <div class="hb-styles2"></div>
      <div class="hb-styles3"></div>
    </div>
    <div class="container">
      <!-- Skip Page-->

      <!-- Hero Block Content--><br><br>
          {{#each header}}
      <div class="hero-block-content mt-12"><img class="mb-4" src="/images/header-images/{{this._id}}.png">
        <h2 class="display-4 text-white mb-1">{{this.Name}}</h2>
        <p class="pl-12">
          <font color="white">
            I'm a<br> </font>
          <font color="red">
            <strong>
              <span2></span>
            </strong>
          </font>

        </p>
        <p class="text-white mb-4">{{this.Sub}}</p><a class="btn btn-{{this.Color}} btn-creative btn-lg w-100"
          href="{{this.Link}}">{{this.Text}}</a>
      </div>
          {{/each}}
    </div>
  </div><br>
  <!-- <div class="page-content-wrapper py-3"> -->
  <div class="container">
    <div class="card image-gallery-card direction-rtl mb-12" id="start">
      <div class="card-body"><img class="mb-3 rounded" src="images/bg-img/me2.jpg">
        <strong>
          <h5>About Me</h5>
        </strong>
        <h6>Hey, i'm Mishab a JavaScript/Php developer. Now i'm 21 year old boy. I have successfully completed SSLC, +2 & Degree(BCA in College of Applied Science Thamarassery (IHRD)).

          Currently, I'm working in <a href="https://www.vectorcrop.com" target="_____blanck">VectorCrop</a> as a freelance web-developer.

        </h6>
        <h6>I'm a Full-Stack JavaScript/Php Developer and Designer. I have worked in lead qualification with
          My Partners, and
          I can do the same thing for your company. I'm Passionate in UI development, Photography, videography, animations,
          product
          modeling works
          and creating intuitive, dynamic user experiences.</h6>
        <h6 class="mt-3">
          <i class="fa fa-angle-right"></i> <span> Born : </span>12-march-2001<br>
          <i class="fa fa-angle-right"></i> <span> City : </span> Kozhikode, Kerala<br>
          <i class="fa fa-angle-right"></i> <span> Phone : </span> +91 99471 54691<br>
          <i class="fa fa-angle-right"></i> <span> Email : </span> imishabmsb@gmail.com<br>
          <i class="fa fa-angle-right"></i> <span> Degree : </span> BCA (2022)<br>
          <i class="fa fa-angle-right"></i> <span> Website : </span> <a href="https://www.vectorcrop.com" target="_____blanck">www.vectorcrop.com</a> </h6>
          <a class="btn btn-primary mt-3 mb-5" href="pdf/MishabResume2022.pdf">Download
            My
            Resume</a><br>
              <div class="row g-3">
                <div class="col-3">

                  <a href="https://github.com/imishab" target="_____blanck"><div class="feature-card text-center">
                   <div class="card shadow mx-auto"><img src="images/social/github.png" alt=""></div>
                    <p class="mb-0">Github</p>
                  </div></a>

                </div>
                <div class="col-3">
                  <a href="https://dribbble.com/i-mishab" target="_____blanck">
                  <div class="feature-card mx-auto text-center">
                    <div class="card shadow mx-auto"><img src="images/social/dribbble.png" alt=""></div>
                    <p class="mb-0">Dribbble</p>
                  </div>
</a>
                </div>
                <div class="col-3">
                  <a href="https://www.facebook.com/i.mishab/" target="_____blanck">
                  <div class="feature-card mx-auto text-center">
                    <div class="card shadow mx-auto"><img src="images/social/facebook.png" alt=""></div>
                    <p class="mb-0">Facebook </p>
                  </div>
</a>
                </div>
                <div class="col-3">
                  <a href="https://www.instagram.com/i.mishab/" target="_____blanck">
                  <div class="feature-card mx-auto text-center">
                    <div class="card shadow mx-auto"><img src="images/social/instagram.png" alt=""></div>
                    <p class="mb-0">Instagram</p>
                  </div>
</a>
                </div>
                <div class="col-3">
                  <a href="https://www.linkedin.com/in/mishab-msb-4aa6b6201/" target="_____blanck">
                  <div class="feature-card mx-auto text-center">
                    <div class="card shadow mx-auto"><img src="images/social/linkedin.png" alt=""></div>
                    <p class="mb-0">Linkedin</p>
                  </div>
</a>
                </div>
                <div class="col-3">
                  <a href="https://www.youtube.com/channel/UCsBAJimRq5wQDG3hjg7vHyw" target="_____blanck">
                  <div class="feature-card mx-auto text-center">
                    <div class="card shadow mx-auto"><img src="images/social/youtube.png" alt=""></div>
                    <p class="mb-0">Youtube</p>
                  </div>
</a>
                </div>
                <div class="col-3">
                  <a href="https://api.whatsapp.com/send/?phone=9947154691&text&app_absent=0" target="_____blanck">
                  <div class="feature-card mx-auto text-center">
                    <div class="card shadow mx-auto"><img src="images/social/whatsapp.png" alt=""></div>
                    <p class="mb-0">Whatsapp</p>
                  </div>
</a>
                </div>
                <div class="col-3">
                  <a href="https://www.behance.net/i-mishab" target="_____blanck">
                  <div class="feature-card mx-auto text-center">
                    <div class="card shadow mx-auto"><img src="images/social/behance.png" alt=""></div>
                    <p class="mb-0">Behance</p>
                  </div>
</a>
                </div>
             
              </div><br>
           



     
      </div>
    </div>
    <br>


    <div class="card">
      <div class="card-body">
        <div class="element-heading mt-1">
          <h6>Let's Know About Some of My Skills</h6>
        </div>
        <hr>


        <!-- Single Skill Progress Bar-->
        <div class="skill-progress-bar d-flex align-items-center">
          <!-- Skill Icon-->
              <!-- Skill Icon-->
              <div class="skill-icon shadow-sm"><svg width="24" height="24" viewBox="0 0 16 16"
                class="bi bi-bootstrap text-primary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M12 1H4a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3zM4 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4H4z" />
                <path fill-rule="evenodd"
                  d="M8.537 12H5.062V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396zM6.375 4.658v2.467h1.558c1.16 0 1.764-.428 1.764-1.23 0-.78-.569-1.237-1.541-1.237H6.375zm1.898 6.229H6.375V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377z" />
              </svg>
            </div>
          <!-- Skill Data-->
          <div class="skill-data">
            <!-- Skill Name-->
            <div class="skill-name d-flex align-items-center justify-content-between">
              <p class="mb-1">HTML, CSS & BOOTSTRAP</p><small class="mb-1"><span class="counter">85</span>%</small>
            </div>
            <!-- Progress-->
            <div class="progress">
              <div class="progress-bar bg-danger" style="width: 85%;" role="progressbar" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100">
                85%</div>
            </div>
          </div>
        </div>


               <!-- Single Skill Progress Bar-->
               <div class="skill-progress-bar d-flex align-items-center">
                <!-- Skill Icon-->
                <div class="skill-icon text-primary shadow-sm"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    fill="currentColor" class="bi bi-vector-pen" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z" />
                    <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z" />
                  </svg>
                </div>
                <!-- Skill Data-->
                <div class="skill-data">
                  <!-- Skill Name-->
                  <div class="skill-name d-flex align-items-center justify-content-between">
                    <p class="mb-1">UI/UX DESIGN & PHOTOSHOP</p><small class="mb-1"><span class="counter">95</span>%</small>
                  </div>
                  <!-- Progress-->
                  <div class="progress">
                    <div class="progress-bar bg-primary" style="width: 95%;" role="progressbar" aria-valuenow="95"
                      aria-valuemin="0" aria-valuemax="100">
                      95%</div>
                  </div>
                </div>
              </div>

        <!-- Single Skill Progress Bar-->
        <div class="skill-progress-bar d-flex align-items-center">
          <!-- Skill Icon-->
          <div class="skill-icon shadow-sm "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clipboard-data text-danger" viewBox="0 0 16 16">
            <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
          </svg>
          </div>
          <!-- Skill Data-->
          <div class="skill-data">
            <!-- Skill Name-->
            <div class="skill-name d-flex align-items-center justify-content-between">
              <p class="mb-1">MONGO DB</p><small class="mb-1"><span class="counter">50</span>%</small>
            </div>
            <!-- Progress-->
            <div class="progress">
              <div class="progress-bar bg-primary" style="width: 50%;" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100">
                50%</div>
            </div>
          </div>
        </div>

        <!-- Single Skill Progress Bar-->
        <div class="skill-progress-bar d-flex align-items-center">
          <!-- Skill Icon-->
          <div class="skill-icon shadow-sm"><svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-code text-dark"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.854 4.146a.5.5 0 0 1 0 .708L2.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm4.292 0a.5.5 0 0 0 0 .708L13.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
            </svg>
          </div>
          <!-- Skill Data-->
          <div class="skill-data">
            <!-- Skill Name-->
            <div class="skill-name d-flex align-items-center justify-content-between">
              <p class="mb-1">PHP & MySQL </p><small class="mb-1"><span class="counter">80</span>%</small>
            </div>
            <!-- Progress-->
            <div class="progress">
              <div class="progress-bar bg-dark" style="width: 80%;" role="progressbar" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100">
                80%</div>
            </div>
          </div>
        </div>


                  <!-- Single Skill Progress Bar-->
                  <div class="skill-progress-bar d-flex align-items-center">
                    <!-- Skill Icon-->
                    <div class="skill-icon shadow-sm text-danger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-git" viewBox="0 0 16 16">
                      <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457"/>
                    </svg>
                    </div>
                    <!-- Skill Data-->
                    <div class="skill-data">
                      <!-- Skill Name-->
                      <div class="skill-name d-flex align-items-center justify-content-between">
                        <p class="mb-1">GIT & GITHUB </p><small class="mb-1"><span class="counter">80</span>%</small>
                      </div>
                      <!-- Progress-->
                      <div class="progress">
                        <div class="progress-bar bg-secondary" style="width: 80%;" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100">
                          80%</div>
                      </div>
                    </div>
                  </div>


        <!-- Single Skill Progress Bar-->
        <div class="skill-progress-bar d-flex align-items-center">
          <!-- Skill Icon-->
          <div class="skill-icon text-warning shadow-sm"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
              <path
                d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
            </svg>
          </div>
          <!-- Skill Data-->
          <div class="skill-data">
            <!-- Skill Name-->
            <div class="skill-name d-flex align-items-center justify-content-between">
              <p class="mb-1">JAVASCRIPT, NODE JS & EXPRESS</p><small class="mb-1"><span class="counter">60</span>%</small>
            </div>
            <!-- Progress-->
            <div class="progress">
              <div class="progress-bar bg-warning" style="width: 60%;" role="progressbar" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100">
                60%</div>
            </div>
          </div>
        </div>
 
      </div>
    </div>
  </div>
  </div>
  </div>
  <br>
  <div class="container">
    <div class="card service-card bg-primary bg-gradient ">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="service-text">
            <h5>My Achievements</h5>
            <p class="">Let's Know About Some of My Achievements.</p>
            <a href="/my-achievements" class="btn btn-danger  w-100 btn-creative">My Achievements</a>

          </div>

          <div class="service-img"><img src="images/bg-img/trophy.png" style="height: auto; width: 200px;"></div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="card service-card bg-dark bg-gradient mb-3">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="service-text">
            <h5>My Design Studio</h5>
            <p class="">Let's Know About Some of My Design Works.</p>
            <a href="/my-ui" class="btn btn-primary w-100 btn-creative">My Designs</a>

          </div>

          <div class="service-img"><img src="images/bg-img/design.png" style="height: auto; width: 200px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Element Heading-->
    <div class="element-heading mt-3">
      <h6>Some of My Projects</h6>
    </div>
  </div>
  <div class="container">
    <div class="card bg-dark">
      <div class="card-body">
        <div class="accordion accordion-style-four" id="accordionStyle4">

            <!-- Single accordion-->
            <div class="accordion-item">
              <div class="accordion-header" id="accordion11">
                <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle11" aria-expanded="false"
                  aria-controls="accordionStyle11">
                  AllinOneBro (Php Project)<svg width="20" height="20" viewBox="0 0 16 16"
                    class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                  </svg>
                </h6>
              </div>
              <div class="accordion-collapse collapse" id="accordionStyle11" aria-labelledby="accordion11"
                data-bs-parent="#accordionStyle4">
                <div class="accordion-body">
                  <p class="mb-0">I made this website for those who need every converters and downloaders in one platform, so a user can easily find their need through this website</p>
                  <br>
                  <div class="row">
                    <div class="col-sm-12">
                      <a href="https://github.com/Mishab4you/AllinOneBro" target="_blank" class="btn btn-primary btn-creative">Github</a>
                      <a href="http://allinonebro.epizy.com/" target="_blank" class="btn btn-success btn-creative ">Demo</a>
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>

          <!-- Single accordion-->
          <div class="accordion-item">
            <div class="accordion-header" id="accordionTen">
              <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyleTen" aria-expanded="false"
                  aria-controls="accordionStyleTen">
                MSM Kozhikode North (Php Project)<svg width="20" height="20" viewBox="0 0 16 16"
                  class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                </svg>
              </h6>
            </div>
            <div class="accordion-collapse collapse" id="accordionStyleTen" aria-labelledby="accordionTen"
              data-bs-parent="#accordionStyle4">
              <div class="accordion-body">
                <p class="mb-0">Official Website Of Mujahid Students Movement (MSM),
                  Kozhikode
                  North, India, the
                  students wing of Kerala Nadvathul Mujahideen</p>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <a href="https://github.com/Mishab4you/msmnorth" target="_blank" class="btn btn-primary btn-creative">Github</a>
                    <a href="http://msmnorth.com" target="__blank" class="btn btn-success btn-creative ">Demo</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!-- Single accordion-->
          <div class="accordion-item">
            <div class="accordion-header" id="accordion15">
              <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle15" aria-expanded="false"
                aria-controls="accordionStyle15">
                Shopping Cart (Node Js, Express Project)<svg width="20" height="20" viewBox="0 0 16 16"
                  class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                </svg>
              </h6>
            </div>
            <div class="accordion-collapse collapse" id="accordionStyle15" aria-labelledby="accordion15"
              data-bs-parent="#accordionStyle4">
              <div class="accordion-body">
                <p class="mb-0">Basic shopping cart project with user/admin registration, Admin panel,
                  Products-cart, Add-to-cart & Check Out.</p>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <a href="https://github.com/Mishab4you/Shopping-Cart" target="_blank" class="btn btn-primary btn-creative">Github</a>
                    <!-- <a href="#!" class="btn btn-success btn-creative ">Demo</a> -->

                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!-- Single accordion-->
          <div class="accordion-item">
            <div class="accordion-header" id="accordion12">
              <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle12" aria-expanded="false"
                aria-controls="accordionStyle12">
                Free Links (Php Project)<svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-caret-down"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                </svg>
              </h6>
            </div>
            <div class="accordion-collapse collapse" id="accordionStyle12" aria-labelledby="accordion12"
              data-bs-parent="#accordionStyle4">
              <div class="accordion-body">
                <p class="mb-0">Now a days its very difficult to find some website links that you want,
                  now there is a way to find your links. we are indroducing our website to find your
                  own
                  links.</p>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <a href="https://github.com/Mishab4you/linksflow" target="_blank" class="btn btn-primary btn-creative">Github</a>
                    <a href="http://freelink.epizy.com" target="_blank" class="btn btn-success btn-creative ">Demo</a>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <!-- Single accordion-->
          <div class="accordion-item">
            <div class="accordion-header" id="accordion13">
              <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle13" aria-expanded="false"
                aria-controls="accordionStyle13">
                Health Keeper (Php Project)<svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-caret-down"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                </svg>
              </h6>
            </div>
            <div class="accordion-collapse collapse" id="accordionStyle13" aria-labelledby="accordion13"
              data-bs-parent="#accordionStyle4">
              <div class="accordion-body">
                <p class="mb-0">This application is used to store your health related documents and medical prescriptions.</p>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <a href="https://github.com/Mishab4you/Health-Keeper" target="_blank" class="btn btn-primary btn-creative">Github</a>
                    <a href="http://healthkeeper.epizy.com/" target="_blank" class="btn btn-success btn-creative ">Demo</a>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <!-- Single accordion-->
          <div class="accordion-item">
            <div class="accordion-header" id="accordion14">
              <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle14" aria-expanded="false"
                aria-controls="accordionStyle14">
                AizonLabs (UI)<svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-caret-down"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                </svg>
              </h6>
            </div>
            <div class="accordion-collapse collapse" id="accordionStyle14" aria-labelledby="accordion14"
              data-bs-parent="#accordionStyle4">
              <div class="accordion-body">
                <p class="mb-0">We are Young talents who have been immersed in technology for many years, now held together by the passion to sculpt new ideas into reality. We don't promise perfection but we deliver it.</p>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <a href="https://github.com/Mishab4you/Aizonlabs_PHP" target="_blank" class="btn btn-primary btn-creative">Github</a>
                    <a href="https://aizonlabs.com/" target="_blank" class="btn btn-success btn-creative ">Demo</a>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <!-- Single accordion-->
          <div class="accordion-item">
            <div class="accordion-header" id="accordion16">
              <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle16" aria-expanded="false"
                aria-controls="accordionStyle16">
                VectorCrop (UI)<svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-caret-down"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                </svg>
              </h6>
            </div>
            <div class="accordion-collapse collapse" id="accordionStyle16" aria-labelledby="accordion16"
              data-bs-parent="#accordionStyle4">
              <div class="accordion-body">
                <p class="mb-0">Meet your future goals with VectorCrop.</p>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <a href="https://github.com/vectorcrop/vectorcrop.github.io" target="_blank" class="btn btn-primary btn-creative">Github</a>
                    <a href="https://www.vectorcrop.com/" target="__blank" class="btn btn-success btn-creative ">Demo</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
<hr>
             <!-- Single accordion-->
             <div class="accordion-item">
              <div class="accordion-header" id="accordion17">
                <h6 class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordionStyle17" aria-expanded="false"
                  aria-controls="accordionStyle17">
                  IefExpo (UI)<svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-caret-down"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                  </svg>
                </h6>
              </div>
              <div class="accordion-collapse collapse" id="accordionStyle17" aria-labelledby="accordion17"
                data-bs-parent="#accordionStyle4">
                <div class="accordion-body">
                  <p class="mb-0">International Education Festival.</p>
                  <br>
                  <div class="row">
                    <div class="col-sm-12">
                      <a href="https://github.com/iefexpo/iefexpo.github.io" target="_blank" class="btn btn-primary btn-creative">Github</a>
                      <a href="https://www.iefexpo.in/" target="__blank" class="btn btn-success btn-creative ">Demo</a>
  
                    </div>
                  </div>
                </div>
              </div>
            </div>




          
        </div>
      </div>
    </div>
  </div>
<br>



  <!-- All JavaScript Files-->
  <script>
    function animateValue(obj, start, end, duration) {
      let startTimestamp = null;
      const step = (timestamp) => {
        if (!startTimestamp) startTimestamp = timestamp;
        const progress = Math.min((timestamp - startTimestamp) / duration, 1);
        obj.innerHTML = Math.floor(progress * (end - start) + start);
        if (progress < 1) {
          window.requestAnimationFrame(step);
        }
      };
      window.requestAnimationFrame(step);
    }

    const obj = document.getElementById("value");
    animateValue(obj, 0, 100, 3000);
  </script>


