<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mishab - Web/App Developer & Designer">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#0134d4">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Title-->
  <title>Mishab - Web/App Developer & Designer</title>
  <!-- Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com/">
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    rel="stylesheet">
  <!-- Favicon-->
  <!-- <link rel="icon" href="img/core-img/favicon.ico">
  <link rel="apple-touch-icon" href="img/icons/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/icons/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/icons/icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/icons/icon-180x180.png"> -->
  <!-- CSS Libraries-->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/animate.css">
  <link rel="stylesheet" href="../css/owl.carousel.min.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/magnific-popup.css">
  <link rel="stylesheet" href="../css/ion.rangeSlider.min.css">
  <link rel="stylesheet" href="../css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../css/apexcharts.css">
  <link rel="stylesheet" href="../css/fontstyle.css">
  <link rel="stylesheet" href="../css/prestyle.css">

  <!-- Core Stylesheet-->
  <link rel="stylesheet" href="../css/style.css">
</head>
<style>
  .header-area {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid #ffffff;
  }

  h2.b {
    visibility: hidden;
  }

  .div2 {
    font: 800 40px system-ui;
    font-weight: 600;
    font-size: 2.5rem;
    color: #0e76a8;
    margin-right: 1rem;
  }
  
</style>
<body>

        <div class="header-area" id="headerArea">
        <div class="container">
            <!-- Header Content-->
            <div class="header-content position-relative d-flex align-items-center justify-content-between">
                <!-- Back Button-->
                <div class="back-button"><a href="/admin"><svg width="32" height="32" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
                        </svg></a></div>
    
                <!-- Page Title-->
                <div class="page-heading">
                    <h6 class="mb-0">Admin Panel</h6>
                </div>
                <!-- Settings-->

                        <div class="navbar--toggler" id="affanNavbarToggler"><span class="d-block"></span><span class="d-block"></span><span class="d-block"></span></div>
                    
            
            </div>
        </div>
    </div>
        <!-- Sidenav Black Overlay-->
    <div class="sidenav-black-overlay"></div>
    <!-- Side Nav Wrapper-->
    <div class="sidenav-wrapper mb-6" id="sidenavWrapper">
      <!-- Go Back Button-->
      <div class="go-back-btn" id="goBack">
        <svg class="bi bi-x" width="24" height="24" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"></path>
          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"></path>
        </svg>
      </div>
      <!-- Sidenav Profile-->
      <div class="sidenav-profile">
        <div class="sidenav-style1"></div>
        <!-- User Thumbnail-->
                  {{#if administator}}
        <div class="user-profile"><img src="img/bg-img/2.jpg" alt=""></div>
                  {{/if}}

        <!-- User Info-->
        <div class="user-info">
          {{#if administator}}
          <h6 class="user-name mb-0">{{administator.Name}}</h6><span>{{administator.Email}}</span>
          {{else}}
          <a href="/signin" class="btn btn-dark w-50 mt-2">Login</a>
          {{/if}}
        </div>
      </div>
      <!-- Sidenav Nav-->
      <ul class="sidenav-nav ps-0">
        <li><a href="/admin"><b><font color="black">Home</font></b></a></li>


        <li><a href="/admin/all-products">
           <b><font color="black">Itmes</font></b> </a></li>

            
        <li><a href="/admin/all-orders">
            <b><font color="black">Orders</font></b> <span class="badge bg-success rounded-pill ms-2">38</span></a></li>
           

                  
        <li><a href="/admin/all-users">
            <b><font color="black">Users</font></b></a></li>




        <li class="affan-dropdown-menu"><a href="#">
            <b><font color="black">Categories</font></b></a>
          <ul>
            <li><a href="/admin/all-category">- Categories</a></li>
            <li><a href="/admin/all-sub-category">- Sub-Categories</a></li>
        
          </ul>
        </li> 
    {{#if administator}}

        <li><a onclick="return confirm('Are You Sure to Sign Out?')" href="/admin/signout">
            <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
</svg>Logout</a></li>
{{/if}}
      </ul>
      <!-- Social Info-->
      <div class="social-info-wrap">

        <a href="https://imishab.github.io"><i class="fa fa-dribbble"></i></a></div>
      <!-- Copyright Info-->
      <div class="copyright-info">
        <p>&copy; 2022 All rights reserved by<a href="https://www.vectorcrop.com">VectorCrop</a></p>
      </div>
    </div>
  <!-- Internet Connection Status-->
  <div class="internet-connection-status" id="internetStatus"></div>
  <div class="dark-mode-switching">
    <div class="d-flex w-100 h-100 align-items-center justify-content-center">
      <div class="dark-mode-text text-center"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
          fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M14.53 10.53a7 7 0 0 1-9.058-9.058A7.003 7.003 0 0 0 8 15a7.002 7.002 0 0 0 6.53-4.47z" />
        </svg>
        <p class="mb-0">Switching to dark mode</p>
      </div>
      <div class="light-mode-text text-center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
          fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
          <path
            d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
        </svg>
        <p class="mb-0">Switching to light mode</p>
      </div>
    </div>
  </div>
  <!-- RTL mode switching-->
  <div class="rtl-mode-switching">
    <div class="d-flex w-100 h-100 align-items-center justify-content-center">
      <div class="rtl-mode-text text-center"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
          fill="currentColor" class="bi bi-text-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
        </svg>
        <p class="mb-0">Switching to RTL mode</p>
      </div>
      <div class="ltr-mode-text text-center"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
          fill="currentColor" class="bi bi-text-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
        </svg>
        <p class="mb-0">Switching to default mode</p>
      </div>
    </div>
  </div>
  <div id="setting-popup-overlay"></div>
  <!-- Setting Popup Card-->
  <div class="card setting-popup-card shadow-lg" id="settingCard">
    <div class="card-body">
      <div class="container">
        <div class="setting-heading d-flex align-items-center justify-content-between mb-3">
          <p class="mb-0">Settings</p><a class="btn-close" id="settingCardClose" href="#"></a>
        </div>
        <!-- <div class="single-setting-panel">
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="availabilityStatus" checked>
                        <label class="form-check-label" for="availabilityStatus">Availability status</label>
                    </div>
                </div>-->
        <div class="single-setting-panel">
          <div class="form-check form-switch mb-2">
            <a href="ui.html" class="form-check-label" for="sendMeNotifications">{{administator.Name}}</a>
          </div>
        </div>
         <div class="single-setting-panel">
          <div class="form-check form-switch mb-2">
            <a href="/signout" class="form-check-label" for="sendMeNotifications">Logout</a>
          </div>
        </div>
        <!-- <div class="single-setting-panel">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="rtlSwitch">
                        <label class="form-check-label" for="rtlSwitch">RTL mode</label>
                    </div>
                </div> -->
      </div>
    </div>
  </div>

  {{{body}}}


  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/default/internet-status.js"></script>
  <script src="../js/waypoints.min.js"></script>
  <script src="../js/jquery.easing.min.js"></script>
  <script src="../js/wow.min.js"></script>
  <script src="../js/owl.carousel.min.js"></script>
  <script src="../js/jquery.counterup.min.js"></script>
  <script src="../js/jquery.countdown.min.js"></script>
  <script src="../js/imagesloaded.pkgd.min.js"></script>
  <script src="../js/isotope.pkgd.min.js"></script>
  <script src="../js/jquery.magnific-popup.min.js"></script>
  <script src="../js/default/dark-mode-switch.js"></script>
  <script src="../js/ion.rangeSlider.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <script src="../js/default/active.js"></script>
  <script src="../js/default/clipboard.js"></script>
  <script src="../js/pwa.js"></script>
</body>
</html>